{
  Language: Cpp,
  BasedOnStyle: Google,
  IndentWidth: 4,
  UseTab: Always,
  TabWidth: 4,
  MaxEmptyLinesToKeep: 1,
  NamespaceIndentation: All,
  # ColumnLimit: 80,
  PenaltyBreakAssignment: 2,
  PenaltyReturnTypeOnItsOwnLine: 200,
  PointerAlignment: Left,
  SpaceBeforeParens: Always
}